@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #5E43FF;
    --background: #202437;
    --text: #202437;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-satoshi);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-baloo2);
}

.cta-text {
  font-family: var(--font-poppins);
}

/* Hide default cursor */
* {
  cursor: none;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}